# Email for Cloudflare API and ACME 
CF_API_EMAIL=your_email.com

# DNS-zones (Zone:Zone:Read, Zone:DNS:Edit)
CF_DNS_API_TOKEN=your_token

# A domain that exists in the Cloudflare DNS zone
MAIN_DOMAIN=domain.tld

# Generate random secret
# openssl rand -hex 16
MANTRAE_SECRET=your_secret
MANTRAE_ADMIN_PASSWORD=your_password

# (Optional) Password hash for Traefik dashboard auth
# htpasswd -nb admin "password here" | sed -e 's/\$/\$\$/g'
# PASSWORD_HASH=user:password_hash
